extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(arranger.rating)
          p= arranger.emailAddress
          .panel.panel-primary
            .panel-heading
              h2.panel-title Specialties
            .panel-body
              each specialty in arranger.specialties
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{specialty}
                | &nbsp;
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/arranger/#{arranger._id}/review/new") Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in arranger.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor #{review.author}
                      //- small.reviewTimestamp
                      //-   +formatDate(review.createdOn)
                    .col-xs-12
                      p !{(review.reviewText).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-3
      //- p.lead #{arranger.name} #{sidebar.context}
      p= sidebar.callToAction
